.button-consultation {
    width: 380px;
    height: 66px;
    background-color: #FFBB01;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 130%;
    text-transform: uppercase;
    color: #1B2944;
    padding: 0;
    border: none;
    box-shadow: 0px 4px 0px #B68500;
    border-radius: 5px;
}

.button-consultation:hover {
    opacity: .7;
}

.button-consultation:focus {
    background-color: #B68500;
}