.links__title {
    width: 96px;
    margin-top: 0;
    margin-bottom: 20px;
    margin-right: 288px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}