/**При проверке предыдуших работ ревьюер рекомендовал для текста использовать значение max-width**/
.form__title {
    max-width: 380px;
    margin-top: 47px;
    margin-bottom: 30px;
    height: 62px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
}