.form__data {
    width: 303px;
    height: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #949494;
    border: none;
    background-color: #F8F8F8;
    margin: 20px 25px 19px 0;
    padding: 0;
}

/* Поменял цвет подсветки обводки*/
.form__data:focus {
    outline-color: aqua;
}

input::-webkit-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #949494;
}

input::-moz-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #949494;
}

input::-ms-input-placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #949494;
}

input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #949494;
}